@use '../global/' as g;

.sub-visual {
    &.blog-archive-visual {
        padding-top: 180px;
        @include g.mq('lg') {
            padding-top: 280px;
        }
        .sub-heading {
            width: auto;
        }
    }
}

.blog-archive {
    padding: 70px 0;
    @include g.mq('lg') {
        padding: 100px 0;
    }
    .category {
        padding-bottom: 0;
        border-bottom: none;
    }
    &__content {
        margin-bottom: 70px;
        @include g.mq('lg') {
            margin-bottom: 150px;
        }
    }
    &__item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid g.$color-gray;
        @include g.mq('lg') {
            margin-bottom: 50px;
            padding-bottom: 50px;
        }
        &-title {
            margin-bottom: 20px;
            font-size: g.rem(18);
            font-weight: 500;
            line-height: 1.5em;
            @include g.mq('lg') {
                font-size: g.rem(22);
            }
        }
        &-desc {
            margin-bottom: 20px;
            font-weight: 500;
        }
        &-meta {
            display: flex;
            align-items: center;
        }
        &-date {
            margin-right: 10px;
            color: g.$color-gray;
            font-weight: 500;
            line-height: 1.5em;
        }
        &-cate {
            display: inline-block;
            padding: 2px 10px;
            border-radius: 100px;
            background-color: g.$color-violet;
            color: g.$color-white;
            font-size: g.rem(12);
            font-weight: 500;
            line-height: 1.5em;
        }
    }
}
