@use '../global' as g;

.sp_sm {
    display: none;
    @include g.mq('sm') {
        display: block;
    }
}
.sp {
    @include g.mq('md') {
        display: none;
    }
}
.pc {
    display: none;
    @include g.mq('md') {
        display: block;
    }
}

.breadcrumb {
    padding: 20px 0;
    &__list {
        text-align: right;
    }
    &__item {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        font-weight: 500;
        &:not(:last-child):before {
            content: '';
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background: url(../images/icon_arrow_black.svg) no-repeat
                center/contain;
        }
    }
    &__link {
        transition: all 0.5s;
        color: g.$color-gray;
        @include g.mq('lg') {
            &:hover {
                color: g.$color-primary;
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: g.$color-primary;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0;
    transition: all 0.5s;
    z-index: 1;
    @include g.mq('lg') {
        width: 40px;
        height: 40px;
    }
    &:hover {
        background-color: g.$color-orange;
    }
    &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../images/icon_arrow.svg) no-repeat center/contain;
    }
    &.slick-prev {
        left: 20px;
        &::before {
            transform: scaleX(-1);
        }
    }
    &.slick-next {
        right: 20px;
    }
}
