@use '../global' as g;

.breadcrumb {
    padding: 20px 0;
    &__list {
        text-align: right;
    }
    &__item {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        font-weight: 500;
        &:not(:last-child):before {
            content: '';
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background: url(../images/icon_arrow_black.svg) no-repeat
                center/contain;
        }
    }
    &__link {
        transition: all 0.5s;
        color: g.$color-gray;
        @include g.mq('lg') {
            &:hover {
                color: g.$color-primary;
            }
        }
    }
}

.sp_sm {
    display: none;
    @include g.mq('sm') {
        display: block;
    }
}
.sp {
    @include g.mq('md') {
        display: none;
    }
}
.pc {
    display: none;
    @include g.mq('md') {
        display: block;
    }
}



