@use '../global/' as g;

.price-about {
    padding: 70px 0;
    @include g.mq('lg') {
        padding: 150px 0;
    }
    &__content {
        padding: 50px 30px;
        background-color: g.$color-light-gray;
        border-radius: 10px;
        @include g.mq('lg') {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 50px;
        }
        &-item {
            position: relative;
            margin-bottom: 120px;
            @include g.mq('lg') {
                width: calc(33.33% - 25px);
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(1)::before,
            &:nth-child(2)::before {
                content: '';
                position: absolute;
                bottom: -80px;
                right: 50%;
                transform: translateX(50%);
                width: 40px;
                height: 40px;
            }
            &:nth-child(1)::before {
                background: url(../images/price/icon_close.svg) no-repeat
                    center/contain;
            }
            &:nth-child(2)::before {
                background: url(../images/price/icon_equal.svg) no-repeat
                    center/contain;
            }
            @include g.mq('lg') {
                &:nth-child(1)::before,
                &:nth-child(2)::before {
                    top: 50px;
                    bottom: auto;
                    right: -40px;
                    width: 50px;
                    height: 50px;
                    transform: translateX(0);
                }
            }
        }
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 170px;
            margin: 0 auto 20px;
            background-color: g.$color-white;
            border-radius: 100%;
        }
        &-title {
            margin-bottom: 20px;
            font-size: g.rem(18);
            font-weight: 500;
            text-align: center;
            line-height: 1.5em;
            @include g.mq('lg') {
                font-size: g.rem(20);
            }
        }
        &-list {
            &-item {
                position: relative;
                margin-bottom: 5px;
                padding-left: 12px;
                font-weight: 500;
                @include g.mq('lg') {
                    margin-bottom: 10px;
                    padding-left: 20px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    background-color: g.$color-primary;
                    border-radius: 100%;
                    @include g.mq('lg') {
                        top: 10px;
                        width: 8px;
                        height: 8px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &-text {
            font-weight: 500;
        }
    }
}

.price-table {
    padding: 70px 0;
    background-color: g.$color-light-gray;
    @include g.mq('lg') {
        padding: 150px 0;
    }
    .heading {
        margin-bottom: 40px;
        @include g.mq('lg') {
            margin-bottom: 70px;
        }
    }
}
