@use '../global' as g;

.project-article {
    padding: 70px 0;
    @include g.mq('lg') {
        padding: 100px 0;
    }
    &__wrap {
        @include g.mq('lg') {
            display: flex;
            justify-content: space-between;
        }
    }
    &__search {
        @include g.mq('lg') {
            width: 250px;
        }
    }
    &__main {
        @include g.mq('lg') {
            width: calc(100% - 300px);
        }
    }
    &__list {
        margin-bottom: 60px;
    }
    .c-project__list {
        margin-bottom: 70px;
    }
    .c-project__item {
        max-width: 100%;
        width: 100%;
        margin-right: 0 !important;
        @include g.mq('md') {
            display: flex;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .c-project__image {
        @include g.mq('sm') {
            width: 280px;
            height: auto;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .c-project__info {
        @include g.mq('sm') {
            width: calc(100% - 280px);
        }
    }
    .c-project__title {
        font-size: g.rem(14);
        @include g.mq('lg') {
            font-size: g.rem(16);
        }
    }
}
