$color-primary: #283244;
$color-black: #363d4b;
$color-white: #fff;
$color-violet: #575fcc;
$color-orange: #ff6d3b;
$color-light-orange: #fff8f3;
$color-green: #8fd8b5;
$color-blue: #739ef1;
$color-yellow: #fabf48;
$color-gray: #c7c7c7;
$color-light-gray: #f4f7f8;
$color-light-violet: #5e66d2;
