@use '../global' as g;

.footer {
    padding: 100px 0 0;
    background-color: g.$color-primary;
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__col {
        &:nth-child(1) {
            width: 30%;
        }
        &:nth-child(2) {
            width: 15%;
        }
        &:nth-child(3) {
            width: 20%;
        }
        &:nth-child(4) {
            width: 20%;
        }
    }
    &__logo {
        margin-bottom: 20px;
        &-link {
            display: flex;
            align-items: flex-end;
        }
        &-text {
            margin-left: 5px;
            color: g.$color-white;
            font-size: g.rem(18);
            font-weight: 500;
            line-height: 1.5em;
        }
    }
    &__desc {
        color: g.$color-gray;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
    }
    &__title {
        margin: 30px 0 20px;
        color: g.$color-white;
        font-size: g.rem(16);
        font-weight: 500;
        line-height: 1.5em;
    }
    &__menu {
        &-item {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-link {
            color: g.$color-gray;
            font-size: g.rem(14);
            font-weight: 500;
            line-height: 1.5em;
        }
    }
    &__copy {
        padding: 15px;
        background-color: g.$color-primary;
        border-top: 1px solid g.$color-black;
        color: g.$color-gray;
        font-size: g.rem(12);
        text-align: center;
        @include g.mq('md') {
            font-size: g.rem(14);
        }
    }
}

.totop {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: g.$color-orange;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9;
    transition: all 0.5s;
    @include g.mq('lg') {
        bottom: 100px;
        width: 50px;
        height: 50px;
    }
    &::before {
        content: '';
        position: relative;
        transform: rotate(-90deg);
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(../images/icon_arrow.svg) no-repeat center/contain;
        @include g.mq('md') {
            width: 35px;
            height: 35px;
        }
    }
    &:hover {
        @include g.mq('lg') {
            opacity: 0.7;
        }
    }
}
