@use '../global' as g;

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    width: 100%;
    background-color: g.$color-white;
    z-index: 10;
    transition: all 0.5s;
    &.active {
        position: fixed;
        box-shadow: 0px 10px 50px -22px rgb(199 199 199 / 80%);
        animation: animation-header 0.3s;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__logo {
        position: relative;
        flex-shrink: 0;
        margin-right: 50px;
        line-height: 0;
        z-index: 11;
        &-link {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        &-text {
            margin-left: 5px;
            color: g.$color-orange;
            font-size: g.rem(18);
            font-weight: 500;
            line-height: 1.5em;
        }
    }
    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 60px 0 80px;
        background-color: g.$color-white;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        @include g.mq('lg') {
            position: static;
            display: flex;
            align-items: center;
            width: auto;
            height: auto;
            padding: 0;
            background-color: transparent;
            opacity: 1;
            visibility: visible;
        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    &__menu {
        &-item {
            position: relative;
            display: block;
            border-bottom: 1px solid g.$color-light-violet;
            @include g.mq('lg') {
                display: inline-block;
                margin-left: 20px;
                border-bottom: none;
            }
        }
        &-link {
            display: block;
            font-size: g.rem(16);
            font-weight: 500;
            line-height: 1.5em;
            letter-spacing: 0.08em;
            transition: all 0.5s;
        }
        &-sub {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            opacity: 0;
            visibility: hidden;
            .header__menu-item {
                display: block;
            }
        }
    }
    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        &-link {
            font-weight: 500;
            transition: all 0.5s;
            &:hover {
                color: g.$color-orange;
            }
        }
        &-devide {
            margin: 0 10px;
            width: 1px;
            height: 20px;
            background-color: g.$color-gray;
        }
        &-post {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            padding: 7px 20px;
            background-color: g.$color-orange;
            border-radius: 5px;
            color: g.$color-white;
            font-weight: 500;
            transition: all 0.5s;
            &::before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                background: url(../images/icon_edit.svg) no-repeat center/contain;
            }
            &:hover {
                background-color: g.$color-primary;
            }
        }
    }
}
.hamburger {
    position: relative;
    width: 35px;
    height: 22px;
    z-index: 11;
    transition: all 0.5s;
    cursor: pointer;
    @include g.mq('lg') {
        display: none;
    }

    &::before,
    &::after,
    span::before,
    span::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: g.$color-primary;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span::before,
    span::after {
        top: 10px;
    }

    &.active::before,
    &.active::after {
        opacity: 0;
    }

    &.active span::before {
        transform: translateX(-50%) rotate(40deg);
    }

    &.active span::after {
        transform: translateX(-50%) rotate(-40deg);
    }
}
