@use '../global' as g;

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    @include g.mq('lg') {
        padding: 0;
    }
    span,
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 40px;
        margin: 5px;
        padding-bottom: 2px;
        background-color: g.$color-primary;
        border-radius: 5px;
        color: g.$color-white;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
        transition: all 0.5s;
        &.current {
            background-color: g.$color-orange;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .prevpostslink,
    .nextpostslink {
        position: absolute;
        top: -11px;
        @include g.mq('md') {
            position: static;
        }
    }
    .nextpostslink {
        left: -10px;
        margin-right: 30px;
    }
    .next {
        right: -10px;
        margin-left: 30px;
    }
}
