@use '../global' as g;

.c-project {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__item {
        max-width: 270px;
        width: calc(25% - 20px);
        margin: 0 calc(20px * 4 / 3) 30px 0;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    &__link {
        display: block;
        box-shadow: 0px 10px 50px -22px rgba(199, 199, 199, 0.8);
        border-radius: 10px;
        overflow: hidden;
    }
    &__image {
        position: relative;
        line-height: 0;
        &-number {
            position: absolute;
            bottom: 15px;
            right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: g.rem(16);
            font-weight: 500;
            line-height: 1.5em;
            &::before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                background: url(../images/icon_image.svg) no-repeat
                    center/contain;
            }
        }
    }
    &__info {
        padding: 15px;
    }
    &__cate {
        margin-bottom: 5px;
        color: g.$color-orange;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
    }
    &__title {
        margin-bottom: 10px;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
    }
    &__address {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
        &::before {
            content: '';
            flex-shrink: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background: url(../images/icon_location.svg) no-repeat
                center/contain;
        }
    }
    &__ultity {
        &-item {
            position: relative;
            display: flex;
            margin-bottom: 2px;
            padding-left: 15px;
            font-size: g.rem(14);
            font-weight: 500;
            line-height: 1.5em;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 6px;
                height: 6px;
                background-color: g.$color-primary;
                border-radius: 100%;
            }
        }
        &-title {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid g.$color-light-gray;
    }
    &__time {
        color: g.$color-gray;
        font-size: g.rem(14);
        font-weight: 500;
        line-height: 1.5em;
    }
    &__like {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(../images/icon_like.svg) no-repeat center/contain;
        cursor: pointer;
    }
}
